.cbx-date-filter-wrap {
    background: #fff;
    //padding: 6px 10px;
    border: 1px solid #c3c4c7;
    border-radius: 4px;
}

#cbx-daterange {
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 13px;
}